 #imginicial {padding: 1%; margin:1%; text-align: center}
 #titulo {padding:1%; margin: 1%; color: cadetblue; text-align: center;}
 #carrossel {padding: 0%; margin: 0%}
 #div1 {padding: 1%; margin: 0%; text-align: center;}
 #div4 {padding: 1%; margin: 0%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: slategray;background-color: white; text-align: center}
 #div2 {padding: 1%; margin: 0%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: slategray; background-color:white;}
 #div3 {padding: 1%; margin: 0%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: slategray; background-color: white}
 #img2 {padding: 1%; margin: 1%; text-align: center;}
 #bs4img {padding: 1%; margin: 1%;}
 #imgcelular {padding: 1%; margin: 1%; color: darkorange; text-align: center}
#textodestaque {padding:0%; margin: 0%; color: cadetblue; text-align: center;}
#imgcard1 {padding:1%; margin: 0%; text-align: center;}
#card1 {padding:0%; margin: 1%; size: 1cm}
#texto {padding:1%; margin: 1%;text-align: center}
#texto2 {padding:0%; margin: 1%;   color: black}
#imginicial {padding: 1%; margin: 1%;text-align: center;}
#texto3 {padding: 1%; margin: 1%;}
#subtitle {padding: 1%; margin: 1%; text-align: center}
#primeirotexto {padding: 1%; margin: 1%; text-align: center}
#card2 {padding:0%; margin: 0%; text-align: center}
#card3  {padding: 2%; margin: 0% ; text-align: center; color: black}
#card4 {padding: 1%; margin: 0% ; text-align: center; color: black} 
#jumbotron {padding: 0%; margin: 1%; text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
#rodape {padding: 1%; margin: 1%; background-color: dodgerblue; color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
#media {padding: 1%; margin: 1%; text-align: left;}
#media2 {padding: 1%; margin: 1%; text-align: center}
#redes {padding: 1%; margin: 0%; text-align: center;}
#imglass {padding:1%; margin: 1%; text-align: center}